<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Downloader</title>
</head>
<body>
    <% if (locals.error) { %>
        <div style="color: red; margin-bottom: 1rem;">
          Incorrect Password
        </div>
      <% } %>
    <form class="form-inline"  method="post">
        <div class="form-group mx-sm-3 mb-2">
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" required />
        </div>
        <button class="btn btn-primary mb-2" type="submit">Download</button>
    </form>
</body>
</html>